doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js")
    block script
  body
    block content
